Repository pwa-builder/PWABuilder, pull requests merged in 2023-09, with the labels that each got.

#3980 [CLI][DO NOT MERGE] CLI Initial Release
  .github/workflows/cli-main.yml
  apps/cli/package-lock.json
  apps/cli/package.json
  apps/cli/src/analytics/usage-analytics.ts
  apps/cli/src/commands/build.ts
  apps/cli/src/commands/create.ts
  apps/cli/src/commands/start.ts
  apps/cli/src/flags.ts
  apps/cli/src/index.ts
  apps/cli/src/util/fileUtil.ts
  apps/cli/src/util/promptUtil.ts
  apps/cli/src/util/textUtil.ts
  apps/cli/src/util/util.ts
  apps/cli/tsconfig.json
Labels: cli, DO-NOT-MERGE

#4372 [CLI] Documentation update for CLI release
  docs/src/menuData.ts
  docs/starter/cli-usage.md
  docs/starter/quick-start.md
Labels: documentation, cli

#3979 [BLOG][CLI][DO NOT MERGE] Announcing CLI Blog Post
  apps/blog/src/posts/announcing-cli/announcing-cli.md
  apps/blog/src/posts/announcing-cli/open-pwa.png
  apps/blog/src/posts/announcing-cli/pwa-create.png
Labels: blog, cli, DO-NOT-MERGE

#4365 docs(manifest): correct `launch-handler` array
  docs/builder/manifest.md
Labels: needs author feedback :memo:
